body {
	background-color: #333;
}
h1, h2 {
	color: #080;
	text-align: center;
}
form {
	color: #0B0;
	text-align: center;
}
.Button{
	background-color: #222;
	color: #080;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 5px;
	border: solid 2px #484;
	border-radius: 5px;
}
.Button:hover{
	background-color: #080;
	color: #222 !important;
}